registry=https://registry.npmjs.org/
@adobe-aem-foundation:registry=https://registry.npmjs.org/
//artifactory-uw2.adobeitc.com/artifactory/api/npm/npmjs-remote/:_authToken=
//artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-aem-foundation-release-local/:_authToken=
